version: "3.8"

services:
  backend:
    build: ./backend
    environment:
      MONGO_URL: ${MONGO_URL}
      BACKEND_PORT: ${BACKEND_PORT}
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

  nginx:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  mongo_data:
